/*Собственные стили и украшения*/

/*Стили для первого операнда*/
#param1 {
	
}

/*Стили для второго операнда*/
#param2 {

}

/*Стили для выбора операции*/
#operation {
    /*TODO: подвинуть поле вправо через margin-left: 25%;*/
	margin-left: 33%
}